<h1>Add Customer</h1>

<form (submit)="addCustomer(name,cnp)" class="well">
  <div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-control" placeholder="Add Customer name" [(ngModel)]="name" name="name" >
  </div>

  <div class="form-group">
    <label>CNP: </label>
    <input type="text" class="form-control" placeholder="Add Customer CNP" [(ngModel)]="cnp" name="cnp" >
  </div>

  <div *ngFor="let error of errors" class="alert alert-danger">
    <div>There is an error in :{{error.field}} field</div>
    <div>{{error.message}}</div>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>
